---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Header from '~/components/Header.astro';
import Hero from '~/components/Hero.astro';
import About from '~/components/About.astro';
import Menu from '~/components/Menu.astro';
import Contact from '~/components/Contact.astro';
import Footer from '~/components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Menu />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
